
<body>
  <div>
    <h1 class="text-titke">Asesoria, reparacion y mantenimiento de PCs, y consolas</h1>
    <img class="img-cont-text" src="/assets/technician-repairing-computer-computer-hardware-repairing-upgrade-technology.jpg" alt="Tecnico reparando ordenador" /><a>prueba</a>
  </div>
  <!--<div style="background-color: pink">
    <p>Contenedor medio</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>
  <div style="background-color: red">
    <p>Segundo contenedor (GRANDE)</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>
  <div style="background-color: pink">
    <p>Contenedor medio</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>
  <div style="background-color: red">
    <p>Ultimo contenedor grande</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>
  <div style="background-color: blue">
    <p>Footer</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>-->
</body>


