
<body>
  <div style="background-color: red">
    <p>Primer contenedor</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>
  <div style="background-color: pink">
    <p>Contenedor medio</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>
  <div style="background-color: red">
    <p>Segundo contenedor (GRANDE)</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>
  <div style="background-color: pink">
    <p>Contenedor medio</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>
  <div style="background-color: red">
    <p>Ultimo contenedor grande</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>
  <div style="background-color: blue">
    <p>Footer</p>
    <img src="/assets/Logo.png" alt="Logo" />
  </div>
</body>


