<body style="background-color: red">
  <div>
    <div class="landing-container">
      <img src="/assets/Logo.png" alt="Logo" />
    </div>
    <!--Middle section container starts-->
    <!--Middle section container ends-->
    <div class=" landing-container2">
      <img src="/assets/Logo.png" alt="Logo" />
    </div>
    <div class="landing-container">
      <img src="/assets/Logo.png" alt="Logo" />
    </div>
    <!--Middle section container starts-->
    <!--Middle section container ends-->
    <div class=" landing-container2">
      <img src="/assets/Logo.png" alt="Logo" />
    </div>
  </div>
 
</body>


