/* You can add global styles to this file, and also import other style files */

.landing-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  width: 100vw;
  height: auto;
  background-color: blue;
  padding: 15px;

  
}

.landing-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: pink;
  padding: 15px;
}


@media (max-width: 1024px) {
  .section {
    width: 95%; 
  }
}


@media (max-width: 768px) {
  .section {
    width: 100%; 
    padding: 15px;
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

img {
  max-width: 100%;
  height: auto;
}
