/* You can add global styles to this file, and also import other style files */

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: dimgray;
  padding: 15px;
}

.landing-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: black;
  padding: 15px;
}


@media (max-width: 1024px) {
  .section {
    width: 95%;
  }
}


@media (max-width: 768px) {
  .section {
    width: 100%;
    padding: 15px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Readex Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.readex-pro-fh {
  font-family: "Readex Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}

.bg-purple {
  --bs-bg-opacity: 1;
  background-color: rgb(165, 137, 255) !important;
}


