<nav class="navbar">
  <div class="navbar-logo">
    <img src="../../assets/Logo.png"  alt="FuryTech Logo" height="100" width="100" />
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/nosotros">Nosotros</a></li>
    <li><a routerLink="/nosotros">Services</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
  </ul>
  <div class="navbar-actions">
    <!-- Add login/logout buttons or user-related actions here -->
  </div>
</nav>

<router-outlet></router-outlet>


